/* default css for oStorybook*/
body {
    font-family:Times;
    padding-left:2px;
    padding-right:2px;
}
h1 {
    font-size:140%;
    text-align:center;
    margin-top:10px;
    margin-bottom:1px;
}
h2 {
    font-size:130%;
    margin-top:10px;
    margin-bottom:1px;
}
h3 {
    font-size:120%;
    margin-top:6px;
    margin-bottom:3px;
}
h4 {
    font-size:110%;
    margin-top:6px;
    margin-bottom:3px;
}
h5 {
    font-size:100%;
    margin-top:6px;
    margin-bottom:3px;
}
h6 {
    font-size:100%;
    margin-top:6px;
    margin-bottom:3px;
}
p {
    margin-top:2px;
}
#navbar {
    background-color: lightgrey;
    text-align:right;
}
ul {
    margin-top:2px;
    margin-left:15px;
    margin-bottom:2px;
}
ol {
    margin-top:2px;
    margin-left:15px;
    margin-bottom:2px;
}
table tr {
    margin:0px;
    padding:0px;
}
td {
    margin-right:1px;
    padding:1px;
}
