/* default css for scenario*/
body {
    font-family: monospace;
    font-size: 12px;
}
p {
    margin-left: 3.8cm;
    margin-right: 2.5cm;
    margin-top: 8px;
    margin-bottom: 8px;
}
ul {
    margin-top: 2px;
    margin-left: 4cm;
    margin-bottom: 2px;
}
h1 {
    font-family: monospace;
    text-align: center;
}
ol {
    margin-top: 2px;
    margin-left: 4cm;
    margin-bottom: 2px;
}
table tr {
    margin: 0px;
    padding: 0px;
}
